.btn{
    border: none;
    padding: 5px 10px; 
    border-radius: 8px;
    max-width: 150px;
    font-size: 15px;
    background-color: #3563E9;
    color: #fff;
    transition: 0.3s;
    &:hover{
      background-color: #6084f0df;
    }
    
  &:active{
    scale: 1.2;
  }
  }
  