.list {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}



.pagination {
  display: flex;
  gap: 10px;
  button {
    background-color: rgb(192, 192, 192);
    color: #fff;

    &.active {
      background-color: #3563E9;
    }
  }
}